<div class="mt-72 md:mt-24 mx-14">
    <h1 class="mb-3 text-4xl font-bold">Bienvenido a mi perfil</h1>
    <p>Hola, soy Franco Ojeda. He creado esta pagina para que puedas conocer un poco mas de lo que he realizado a lo largo de mi vida, asi que elije un area para comenzar.</p>
    <select name="" id="" class="border w-full mx-auto my-6 sm:w-64 sm:m-8" [(ngModel)]="area">
        <option value="" selected>Elije el area</option>
        <option value="visual">Audiovisual</option>
        <option value="arqui">Arquitectura</option>
        <option value="program">Programacion</option>
        <option value="merch">Mercaderia</option>
    </select>
    <div [ngSwitch]="area" class="my-4">
        <p *ngSwitchCase="'visual'" [ngStyle]="{'color':'green'}">Trabajo en el area audiovisual desde el 2015. Me he desempeñado en distintos proyectos y en distintos cargos, como camarografo, productor, guionista y, en su mayria, editor de video.</p>
        <p *ngSwitchCase="'arqui'" [ngStyle]="{'color':'orange'}">Estudié la carrera de Arquitectura en la Universidad Ricardo Palma, logrando culminarla y sacar mi titulo a finales del 2016. Mi trabajo de tesis fue un proyecto que consisitia en un terminal terrestre para la ciudad de Pucallpa.</p>
        <p *ngSwitchCase="'program'" [ngStyle]="{'color':'purple'}">A partir del 2022 comencé a estudiar programacion para paginas web de manera autodidacta. Actualmente me encuentro estudiando en una beca, y pienso dedicarme a la programacion front end. </p>
        <p *ngSwitchCase="'merch'" [ngStyle]="{'color':'blue'}">He incursionado en la elaboracion de merchandising para creadores de contenido, realizando polos, tazas, bolsas y mas con las marcas de influencers y pequeñas empresas.</p>
        <p *ngSwitchDefault="" [ngStyle]="{'color':'red'}">(Al elegir un area saldrá un taxto aquí)</p>
    </div>
</div>
    
