<app-navbar></app-navbar>
<div class="mt-72 md:mt-24 mx-14">
    <h1 class="mb-5 mt-8 sm:mt-0 text-2xl font-bold">PROYECTOS AUDIOVISUALES </h1>
    <p>Aqui podras ver algus proyectos en los que he participado como camarografo y/o editor.</p>
    <div class="grid grid-cols-2">
        <div class="mt-5">
            <p class="mb-2">Serie web "Por las Rutas de la Curiosidad"</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/qpf3cvr7HEI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="mt-5">
            <p class="mb-2">Serie web "Ciudadanos del Futuro"</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/9Wulu-Ah89o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="mt-5">
            <p class="mb-2">B-Roll para Transcorp</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Fjox78wGaGE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="mt-5">
            <p class="mb-2">Video Institucional para Transcorp</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/r0-mqPadSkI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
</div>
    
<app-footer></app-footer>